.login {
  background-color: beige;
  font-family: Nunito, sans-serif;
  width: 100%;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginWrap {
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    display: flex;

    .formAuth,
    .loginPromo {
      width: 100%;
      flex: 1;
    }

    .formAuth {
      background-color: white;
      border-radius: 15px;
      padding: 10px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
