.btn-event {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-bottom: 40px;
  border: none;
  margin-right: 30px;
  border-radius: 20%;
  width: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.5s;

  & span {
    margin-left: 5px;
    font-size: 14px;
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  }
}
