@import '../../scss/main.scss';

.menuPostLink{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-grey !important;
  & li {
    width: 100% !important;
  }
}
.menuPostIcon {
  font-size: 18px !important;
  color: $color-grey;
  margin: 0px 0px 0px 10px;
  padding-right: auto;
}