@font-face {
  font-family: "Nunito-Italic";
  src: local("Nunito-Italic"), url("../../assets/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("../../assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

.profile {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: space-between;

  .profileBlock {
    flex: 9;
    display: flex;
    flex-direction: column;
  }

  .profileBlockTop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileFonImg {
      width: 100%;
      height: 250px;
    }

    .profileUserImg {
      position: absolute;
      width: 150px;
      height: 150px;
      right: 0;
      left: 0;
      top: 150px;
      border: 4px solid white;
      margin: auto;
      border-radius: 50%;
    }
  }

  .profileInfo {
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;

    .profileName {
      font-size: 1.7rem;
      padding: 0;
      margin: 0;
    }

    .profileStatus {
      font-size: 1.3em;
    }
  }

  .profileBlockBottom {
    display: flex;
    margin: 0;

    .feeds {
      flex: 9;
    }

    .profileRightBlock {
      margin: 10px 10px 10px 0;
      flex: 3;
      padding: 10px;

      .profileDescriptionInfo {
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 10px;
      }

      .profileDescriptions {
        height: 170px;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
        -moz-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);

        .profileDescription {
          margin-bottom: 10px;
          font-size: 1.2em;

          .profileDescriptionName {
            color: cadetblue;
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }

      .followersBlock {
        border-radius: 10px;
        -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
        -moz-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
        margin-top: 30px;
        padding: 10px;

        .followers {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
}
