// Sass Mixins

@mixin font($size: 1.8rem, $weight: 400, $family: $base-font, $style: normal) {
  font: {
    family: $family;
    style: $style;
    weight: $weight;
    size: $size;
  }
}

@mixin font-logo {
  @include font(2.0rem, bold, $base-font, normal);
  line-height: 91.666667%;
  text-transform: uppercase;
}
@mixin font-shareOptionText {
  @include font(0.875rem, 400, $base-font, normal);
  line-height: 91.666667%;
}
@mixin font-shareBotton {
  @include font(0.875rem, 400, $base-font, normal);
  line-height: 91.666667%;
  color: $color-white;
}
