// Sass Variables

//base font
$base-font: 'Roboto', sans-serif;

// variables colors
$color-white: #fff;
$color-dark-white: #f5f3f3;
$color-green: #008000;
$color-lime: lime;
$color-lime-green: limegreen;
$color-black: #000;
$color-red: #ff0000;
$color-grey: #808080;
$color-teal: teal;
$color-logo-logo: #1877f2;
$color-bacgraund-header: #1877f2;
$color-bacground-Header-card: #faea68;
$color-bacground-Header-node: #d6cbfe;
$color-scroll-track: #f1f1f1;
$color-scroll-trumb: #cccccc;
$color-bacground-auth: beige;

// Experts
$padding-edge-screen: 15px !default; // отступ от края экрана мобильных устройств
