// Sass Variables

//base font
$base-font: 'Roboto', sans-serif;

// variables colors
$color-white: #fff;
$color-red: red;
$color-bacgraund-header: #1877f2;

// Experts
$padding-edge-screen: 15px !default; // отступ от края экрана мобильных устройств
