@import '../../scss/main.scss';

.header {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $color-bacgraund-header;
}
.headerWrapper{
  display: flex;
  justify-content: space-between;

}
.headerLeft {
}
.headerCenter {
}
.headerRight {
}
