@import '../../scss/main.scss';

.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}
.shareWrapper {
  padding: 10px;
}
.shareTop {
  display: flex;
  align-items: center;
  .follower {
    width: 60px;
    align-items: flex-start;
    .followerImg {
      width: 50px;
      height: 50px;
      object-fit: cover;
      margin: 0 10px 0 0;
    }
  }
}
.shareInput {
  border: none;
  width: 80%;
  &:focus {
    outline: none;
  }
}
.shareHr {
  margin: 20px;
}
.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shareOptions {
  display: flex;
  margin: 0 0 0 20px;
}
.shareOption {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  cursor: pointer;
}
.shareIcon {
  margin: 0 3px 0 0;
}
.shareOptionText {
  @include font-shareOptionText;
  @media (max-width: 560px) {
    display: none;
  }
}
.shareButton {
  @include font-shareBotton;
  border: none;
  border-radius: 5px;
  padding: 7px;
  background-color: $color-green;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}
