@import '../../scss/main.scss';

.searchbar {
  width: 100%;
  height: 30px;
  background-color: $color-white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin: 0 0 0 10px;
}
.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}
